body {
    box-sizing: border-box;
    width: 95%;
    text-align: center;
    background-color: lightblue;
}

.createdBy {

    font-family:fantasy;
}

h2:first-of-type{

    color: red;
    float: left;
    padding-right: 20px;
}
h2 {

    color: black;
    float: left;
}





